:root{
    --mainColor: #fffadf;
    --borderColor: #c1c1c1;
    --secondaryColor: #ffffff;
    --mainText:black;
    --secondaryText:#4b5156;
    --previewBg:rgba(255, 250, 234, 0.7);
    --previewShadow: #fff4d0;
}
html, body{
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6, strong{
color: var(--mainText);
font-family: 'Redressed', cursive;
font-weight: 500;
}

p, li, span,label, input,textarea{
font-family: 'Roboto', sans-serif;

}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto; /*The overflow property specifies what should happen if content overflows an element's box*/

}

.s2{
    background-color: var(--secondaryColor);
    border-bottom:  1 px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width :1200px;
    margin: 0 auto;/*margin: 0 auto is shorthand for setting the top and bottom margins to zero, and the left and right margins to auto*/
}



a{
    text-decoration: none;
    color: #1712b8;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;

}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1 px solid var(--borderColor);
    border-radius:  5px 5px 0 0;
    box-shadow: 0px -2px 8px 2px rgba(87,80,80,0.49);
    -webkit-box-shadow: 0px -2px 8px 2px rgba(87,80,80,0.49);
    -moz-box-shadow: 0px -2px 8px 2px rgba(87,80,80,0.49);
    
    display: grid;
    grid-template-columns: 1fr 1fr; /*two column*/
    grid-template-areas: 
    'nav-wrapper nav-wrapper' /*it takes both fr*/
    'left-column right-column';

}

.nav-wrapper{

    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    grid-area: nav-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

#navigation{
    margin: 0;
    padding: 10px;
}
#navigation li{
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;

}
.dots-wrapper{
    display: flex;
    padding: 10px;

}
.browser-dot{
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius:50%;
    box-shadow: 0px 0px 6px 2px rgba(41,41,41,0.55);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(41,41,41,0.55);
    -moz-box-shadow: 0px 0px 6px 2px rgba(41,41,41,0.55);
    margin: 5px;

}

.left-column{
    grid-area: left-column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
#mypic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 2px rgba(41,41,41,0.55);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(41,41,41,0.55);
    -moz-box-shadow: 0px 0px 6px 2px rgba(41,41,41,0.55);
}


#theme-options-wrapper{
    display:flex;
    justify-content: center;
}

.theme-dot{
    margin: 5px;
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: bisque;
    box-shadow: 0px 0px 6px 2px rgba(41,41,41,0.55);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(41,41,41,0.55);
    -moz-box-shadow: 0px 0px 6px 2px rgba(41,41,41,0.55);

}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color:#ffffff;
}
#blue-mode{
    background-color:  #192734;
}
#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #7E4C74;
}
#setting-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;

}
.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;

}

#preview{

    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    text-align: justify;
    padding: 10px;
    position: relative;
}
.previewShadow{
    background-color: var(--previewShadow);
    width: 300px;
    height:180px;
    padding-left: 30px;
    padding-top: 30px;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    position: absolute;

}
#corner-tl{
    top:-5px;
    left: -5px;
}

#corner-tr{
    top:-5px;
    right: -5px;
}
#corner-bl{
    bottom:-5px;
    left: -5px;
}
#corner-br{
    bottom:-5px;
    right: -5px;
}

#dot-1{
    background-color: rgb(255, 112, 112);
}
#dot-2{
    background-color: rgb(17, 211, 17);
}
#dot-3{
    background-color:rgb(94, 94, 255);
}

.about-wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap:100px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

#social_img{
    padding-top: 10px;
    width: 100%;
}
.social_link{
     display: grid;
     align-content: center;
     text-align: center;
}
#expeId{
    font-family: 'Oleo Script', cursive;
}




/*contact*/
#contact{
    margin-top: 5.5rem;
}


#contact div.contactclass{
    margin-top: 100px;
    background: #EDEDB4;
    width: 100%;
    height: 500px;

}

#contact h1{
    text-align: center;
    margin-bottom: -60px;
}

#contact div.contactclass div.mapinfo iframe{
    margin-left:30px;
    box-sizing: border-box;
    width: 40%;
    height: 300px;
    display: inline-block;
    float:left;

}

#contact div.contactclass div.messageinfo{
    clear: both;
    box-sizing: border-box;
    width: 49%;
    height: auto;
    display: inline-block;
    margin-top: 10px;
    margin-left: 50px;
    float: right;
    position: absolute;
}
#contact div.contactclass div.messageinfo table tr td p{
    font-weight: bold;
}

#contact div.contactclass div.messageinfo table tr td input[type=text],[type=email]{
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#contact div.contactclass div.messageinfo table tr td input[type=textarea]{
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0px;
}

.submitbutton{
    background-color: #EC916E;
    text-decoration: none;
    color:wheat;
    font-weight: bold;
    margin-top: 10px;
    padding:10px 50px;
    border: none;
}
.submitbutton:hover{
    text-decoration: none;
    color:black
}




/*footer part*/

footer div{
    width: 100%;
    background-color:#F4F4F4 ;

}
div#copyrightinfo span{
    font-variant: small-caps;
}
footer div div#copyrightinfo{
    font-weight: bold;
    float: left;
    color:black;
    display: table;
    box-sizing: border-box;
    height: 35%;
    width: 25%;
    padding: 30px;
    margin-left: 50px;
    margin-top: 0px;
    background-color:rgba(0, 0, 0, 0.068);
    clear:right;
    margin-right: 200px;
  
}



footer div div#footersearch{
    
    box-sizing: border-box;
    width: 49%;
    height: 150px;
    margin: 0 auto;
    display: inline-block;
    margin-top: 10px;
    margin-left: 50px;

}

#footersearch form input[type=search] {
    width: 70%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

div#footersearch form input[type=search]{

      height: 40px;
      margin: 0 auto;
      border: none; /* <-- This thing here */
      border:solid 1px #ccc;
  }

  p#declare{
      color: gray;
      text-align: center;
      font-size: 21px;
  }



@media screen and (max-width:1200px){
    .main-container{
        width: 95%;
    }

}

@media screen and (max-width:800px){    
.intro-wrapper{
    grid-template-columns: 1fr; /*two column*/
    grid-template-areas: 
    'nav-wrapper'
    'left-column'
    'right-column';

    }
    .right-column{
        justify-content: center;
  
    }

}